# SBT/Scala build output
/target/
project/target/
**/target/
.bsp/

# IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws
out/

# Environment files
.env

# macOS system files
.DS_Store

# misc
notes.txt

# python stuff
venv/
